<div class="container">
{{high-charts mode=chartMode chartOptions=chartOptions content=chartData}}
{{high-charts mode=chartMode chartOptions=shareChart content=chartData}}
  {{#if model.workers}}
  <h4>Rigleriniz</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Rig Adı</th>
          <th>Hashgücü (kısa süre ortalama)</th>
          <th>Hashgücü (uzun süre ortalama)</th>
          <th>Bloklar</th>
          <th>Geçerli / Kayıp / Geçersiz 24Sa</th>
          <th>Son Pay</th>
        </tr>
      </thead>
      <tbody>
        {{#each-in model.workers as |k v|}}
          <tr class="{{if v.offline "warning" "success"}}">
            <td>{{k}}</td>
            <td>{{format-hashrate v.hr}}  {{#if v.w_stat_s}}<i class="fa fa-arrow-up" style="color:rgb(0, 9, 128)" aria-hidden="true"></i>{{else}}<i class="fa fa-arrow-down" style="color:red" aria-hidden="true"></i>{{/if}}</td>
            <td>{{format-hashrate v.hr2}}  {{#if v.w_stat}}<i class="fa fa-arrow-up" style="color:rgb(0, 9, 128)" aria-hidden="true"></i>{{else}}<i class="fa fa-arrow-down" style="color:red" aria-hidden="true"></i>{{/if}}</td>
            <td>{{v.blocks}}</td>
            <td><span class="text-green">{{v.valid}}</span> ({{v.v_per}}%) / <span class="text-yellow">{{v.stale}}</span> ({{v.s_per}}%) / <span class="text-red">{{v.invalid}}</span> ({{v.i_per}}%)</td>
            <td>{{format-relative (seconds-to-ms v.lastBeat)}}</td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  {{else}}
    <h3>Bağlı Rig Yok</h3>
  {{/if}}
  <div class="alert alert-info" role="alert">
    <span class="sr-only">Notice:</span>
    Ortalama hash gücünüz pencerede paylaşım yaptıkça asıl değerine ulaşacaktır.<br/>
    Sekmelerden kısa ortalama 30dk uzun ortalama 3 saati ifade eder.<br/>
    15dk boyunca paylaşım göndermeyen rigleriniz işaretlenir böylece riglerinizi
    gözden geçirebilirsiniz.
  </div>
  <div class="alert alert-info" role="alert">
    <strong>JSON API URL niz:</strong> <a href="/api/accounts/{{model.login}}">/api/accounts/{{model.login}}</a>
  </div>
</div>
