{{outlet 'error' }}
<div class="jumbotron-brand">
  <div class="container">
    <div class="row">
      <div class="col-md-4 stats">
        <div style="display: block;">
          <i class="fa fa-cloud"></i> Olgunlaşmamış Kazanç: <span>{{format-balance model.stats.immature}}</span><br>
          <small>Blok olgunlaşmasını bekleyen kazanç.</small>
        </div>
        <div style="display: block;">
          <i class="fa fa-bank"></i> Bekleyen Kazanç: <span>{{format-balance model.stats.balance}}</span><br>
          <small>İlk ödeme süresinde ödenmeye hazır kazanç.</small>
        </div>
        {{#if model.stats.pending}}
        <div style="display: block;">
          <i class="fa fa-clock-o"></i> Geçerli Ödeme: <span>{{format-balance model.stats.pending}}</span><br>
        </div>
        {{/if}}
        <div style="display: block;"><i class="fa fa-money"></i> Toplam Ödenen: <span>{{format-balance model.stats.paid}}</span></div>
        <div style="display: block;"><i class="fa fa-money"></i> Son 24 Saat Ödülü: <span>{{format-balance model.24hreward}}</span></div>
      </div>
      <div class="col-md-4 stats">
        {{#if model.stats.lastShare}}
        <div style="display: block;"><i class="fa fa-clock-o"></i>
          Son Paylaşım: <span>{{format-relative (seconds-to-ms (string-to-int model.stats.lastShare))}}</span>
        </div>
        {{/if}}
        <div style="display: block;"><i class="fa fa-gears"></i> Bağlı Rig: <span>{{format-number model.workersOnline}}</span></div>
        <div style="display: block;"><i class="fa fa-tachometer"></i> Hashgücü (30dk): <span>{{format-hashrate model.currentHashrate}}</span></div>
        <div style="display: block;"><i class="fa fa-tachometer"></i> Hashgücü (3Sa): <span>{{format-hashrate model.hashrate}}</span></div>
      </div>
      <div class="col-md-4 stats">
        <div style="display: block;"><i class="fa fa-tachometer"></i> Bulunan Blok: <span>{{format-number model.stats.blocksFound fallback='0'}}</span></div>
        <div style="display: block;"><i class="fa fa-paper-plane-o"></i> Toplam Ödeme: <span>{{format-number model.paymentsTotal}}</span></div>
        <div style="display: block;">
          <i class="fa fa-gears"></i> Blok Payı: <span>{{format-number roundPercent style='percent'}}</span><br/>
          <small>Geçerli blokda paylaşım katkınız.</small>
        </div>
        <div style="display: block;">
          <i class="fa fa-clock-o"></i>
          Epoch Değişimi: <span>{{format-relative applicationController.nextEpoch units="hour"}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    {{#active-li currentWhen='account.index' role='presentation'}}
      {{#link-to 'account.index'}}Rigler <span class="badge alert-danger">{{model.workersOffline}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='account.rewards' role='presentation'}}
      {{#link-to 'account.rewards'}}Ödüller{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='account.payouts' role='presentation'}}
      {{#link-to 'account.payouts'}}Ödemeler{{/link-to}}
    {{/active-li}}
  </ul>
</div>

{{outlet}}
